version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: CRUD_ASPNET.API/Dockerfile
    container_name: crud_api
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=db;Port=5432;Database=crud_db;Username=postgres;Password=postgres
    networks:
      - crud_network

  db:
    image: postgres:16
    container_name: crud_db
    restart: always
    environment:
      POSTGRES_DB: crud_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - crud_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  crud_network:
    driver: bridge
